<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coagmento.mobile"
    android:versionCode="6"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.coagmento.mobile.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coagmento.mobile.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="com.coagmento.mobile.ProjectActivity"
            android:label="@string/title_activity_project" >
        </activity>
        <activity
            android:name="com.coagmento.mobile.CollaboratorInfoActivity"
            android:label="@string/title_activity_collaborator_info" >
        </activity>
        <activity
            android:name="com.coagmento.mobile.FragmentTabsActivity"
            android:label="@string/title_activity_fragment_tabs" >
        </activity>
        <activity
            android:name="com.coagmento.mobile.ProjectAndCollaboratorSelectionActivity"
            android:label="@string/title_activity_project_and_collaborator_selection" >
        </activity>
        <activity
            android:name="com.coagmento.mobile.CSpaceWebPageActivity"
            android:label="@string/title_activity_cspace_web_page" >
        </activity>
        <activity
            android:name="com.coagmento.mobile.WebpageActivity"
            android:label="@string/title_activity_webpage" >
        </activity>
        <activity
            android:name="com.coagmento.mobile.MemberInfoActivity"
            android:label="@string/title_activity_member_info" >
        </activity>
        <activity
            android:name="com.coagmento.mobile.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.coagmento.mobile.Test"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>
